# User defined
*.geojson
*.shp

# Node
/node_modules
/coverage
/build
.eslintcache
.node_modules/
package-lock.json
npm-debug.log*
*.log
/logs
**/*.backup.*
**/*.back.*


# Clion configuration
.idea/

# Files
*.swp
*.*.swp
.DS_Store
.env

# Doxygen
doxygen-styles
docs

# Build folders
## Make
bin
obj
## CMake
build
cmake-build-debug
CMakeFiles
cmake-build-debug-event-trace
cmake-build-debug-coverage
cmake-build-release

# Data
datasets
db/data

