# Clion configuration
.idea/

# Files
*.swp
*.*.swp
.DS_Store

# Doxygen
doxygen-styles
docs

# Build folders
## Make
bin
obj
## CMake
build
cmake-build-debug
CMakeFiles
cmake-build-debug-event-trace
cmake-build-release

# Data
datasets

