@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background: #f4f4f4;
}

.widget-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 400px;
	max-width: 800px;
}

.gauge-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.cards {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;

	min-width: 320px;
	max-width: 600px;

	overflow-x: auto;
	overflow-y: hidden;
}

.status-card {
	display: grid;
	grid-template-columns: 280px;
	grid-template-rows: 120px 100px 40px;
	gird-template-areas: "header" "body" "foot";

	margin: 1rem;

	border-radius: 18px;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.status-card:hover {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-head {
	grid-area: "header";
	align-items: center;
	
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.card-date {
	color: green;
}

.card-body {
	grid-area: "body";
	
	justify-content: space-evenly;
	align-items: center;
	text-align: center;

	width: 100%;
	
}

.card-foot {
	grid-area: "foot";

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: green;

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;

	color: white;
}
